server {
    listen <PORT>;
    server_name "";

    root /usr/html;
    index index.html;

    location = / {
        return 301 $scheme://$http_host/api/v1/proxy/namespaces/kube-system/services/kube-ui/;
    }

    location / {
        proxy_pass <APISERVER>;
    }

    location /static {
        alias /opt/static;
    }

    location /service/kubernetes/static {
        alias /opt/static;
    }
}
